<!--googleoff: index-->
<div class="workflow">
	<h5>Сегодня</h5>
	<ul>
		<li>
			<div class="image editor"></div>
			<div class="commit">
				<h6>Совещание по проектам</h6>
				<p>9:00 - 10:00</p>
			</div>
		</li>
		<li>
			<div class="image editor"></div>
			<div class="commit">
				<h6>Встреча за обедом</h6>
				<p>12:00 - 12:30</p>
			</div>
		</li>
		<li>
			<div class="image editor">{% include svgs/logo.html logo="emblem" %}</div>
			<div class="commit">
				<h6>Тренировка #1</h6>
				<p>16:00 - 18:00</p>
			</div>
		</li>
		<li>
			<div class="image editor"></div>
			<div class="commit">
				<h6>Встреча с Кариной</h6>
				<p>20:00 - 21:00</p>
			</div>
		</li>
	</ul>
</div>
<!--googleon: index-->
