---
title: Функции
heading: Что предлагает Fitness.Pullnfit
subtitle: Стать партнером и зарабатывать хорошие деньги в качестве независимого подрядчика
layout: short
permalink: /features/
---
<ul class="workflow-diagram">
	<li>
		<i class="material-icons">event_available</i>
		<p>Программы тренировок <br>автоматически</p>
	</li>
	<li>
		<i class="material-icons">loyalty</i>
		<p>Мотивация клиентов <br>на действия</p>
	</li>
	<li>
		<i class="material-icons">attach_money</i>
		<p>Хороший источник <br>заработка</p>
	</li>
</ul>

<div class="feature-content">
	<h2>Автоматическая программа тренировок</h2>

	<ul class="cards">
		{% include components/features/data-block.html icon="assignment" title="Исходные данные" content="Программа составляется с учетом индивидуальных особенностей организма клиента." %}

		{% include components/features/data-block.html icon="sync" title="Синхронизация с календарем" content="Программа синхронирзируется с календарем клиента автоматически." %}

		{% include components/features/data-block.html icon="video_library" title="Наглядность" content="Каждое упражнение содержит ссылку на Видео, которое помогает клиенту быстрее ориентироваться." %}
		
		{% include components/features/data-block.html icon="event_available" title="Адаптация" content="Если клиент пропускает тренировку, программа перестраивается автоматически." %}
	</ul>

	<h2>Мотивация клиентов на действия</h2>

	<ul class="cards">
		
	</ul>
	<h2>Хороший источник заработка</h2>

	<ul class="cards">
		
	</ul>
</div>
<script src="/js/features.js"></script>
