---
title: Функции
heading: Что предлагает Fitness.Pullnfit
subtitle: Стать партнером и зарабатывать хорошие деньги в качестве независимого подрядчика
layout: short
permalink: /features/
---
<ul class="workflow-diagram">
	<li>
		<i class="material-icons">looks_one</i>
		<p>Пройдите регистрацию</p>
	</li>
	<li>
		<i class="material-icons">looks_two</i>
		<p>Ожидайте ответа</p>
	</li>
	<li>
		<i class="material-icons">looks_3</i>
		<p>Пройдите обучение</p>
	</li>
</ul>

<div class="feature-content">
	<h2>Анкетирование клиента</h2>

	<ul class="cards">
		{% include components/features/data-block.html icon="account_circle" title="О клиенте" content="Имя, пол и возраст." %}

		{% include components/features/data-block.html icon="explore" title="Цель и пожелания" content="Цель тренировок, желаемое количество тренировок в неделю, удобное время начала тренировок, место для тренировок, адрес." %}

		{% include components/features/data-block.html icon="warning" title="Боли и заболевания" content="Боли в суставах, заболевания." %}

		{% include components/features/data-block.html icon="settings_input_svideo" title="Измерения" content="Рост, вес, уровень физической подготовки." %}

		{% include components/features/data-block.html icon="restaurant_menu"  title="Питание" content="." %}

		{% include components/features/data-block.html icon="contacts" title="Контакты" content="Телефон, адрес эл. почты, пригласительный код." %}
	</ul>

	<h2>Организация упражнений</h2>

	<ul class="cards">
		{% include components/features/data-block.html icon="format_list_bulleted" title="Перечень" content="Комплекс упражнений в тренажёрном зале." %}

		{% include components/features/data-block.html icon="video_library" title="Видео" content="Короткое музыкальное видео к каждому упражнению." %}

		{% include components/features/data-block.html icon="line_weight" title="Дозировка" content="Количественно-качественные показатели упражнений." %}

		{% include components/features/data-block.html icon="check_circle" title="Показания" content="Позволяет включить упражнение в список рекомендованных." %}

		{% include components/features/data-block.html icon="report" title="Противопоказания" content="Помогает исключить упражнение из списка рекомендованных." %}

		{% include components/features/data-block.html icon="comment" title="Рекомендации" content="Небольшие методические указания." %}
	</ul>
</div>
<script src="/js/features.js"></script>
