---
layout: main-landing
title: Сервис помогает инструкторам по фитнесу автоматизировать их работу с клиентами с помощью нейросети в области учета и подбора индивидуальных программ тренировок и питания. 
permalink: /
cta: "landing_page"
sitemap:
  changefreq: daily
  priority: 0.8
header_class: "landing"
---
<div class="landing-page-content">
  {% include components/home-page/content-image.html image="workflow" heading="Составляйте индивидуальные программы тренировок автоматически" content_markdown="Тратьте меньше времени на подбор индивидуальных тренировочных программ,
консультирование клиентов по вопросам, связанным с тренировочным процессом, режимом питания и т.д., и больше - на себя. Сделайте ваши программы более наглядными и гибкими автоматически." storage_provider_icons=true %}

  {% include components/home-page/content-image.html image="editing" heading="Мотивируйте клиентов на действия" content_markdown="После заполнения анкеты сервис настраивает тренировочную программу таким образом, чтобы все упражнения в ней будут сопровождаться ссылкой на видео только с вашим участием и будут характерны только для вашего клуба. А это позволит быстрее ориентироваться в упражнениях и мотивировать их на покупку персоналки." %}

  {% include components/home-page/content-image.html image="tools" heading="Зарабатывайте хорошие деньги" content_markdown="Станьте партнером и зарабатывайте хорошие деньги в качестве независимого подрядчика. Получайте еженедельный гонорар лишь за то, что даете возможность тренироваться правильно и недорого тем посетителям, которые пока не готовы платить за персоналку." %}
</div>

{% assign case = site.case_studies | where: "name", "Netflix" | first %}
{% include components/case-study/quote.html case=case %}



