---
layout: main-landing
title: Сервис автоматического подбора индивидуальных программ тренировок и питания с помощью нейросети прямо в календарь. 
permalink: /
cta: "landing_page"
sitemap:
  changefreq: daily
  priority: 0.8
header_class: "landing"
---
<div class="landing-page-content">
  {% include components/home-page/content-image.html image="workflow" heading="Составляйте индивидуальные программы тренировок и питания автоматически" content_markdown="Тратьте меньше времени на подбор индивидуальных тренировочных программ,
консультирование клиентов по вопросам, связанным с тренировочным процессом, режимом питания и т.д., и больше - на себя. Сделайте ваши программы более наглядными и гибкими автоматически." storage_provider_icons=true %}

  {% include components/home-page/content-image.html image="editing" heading="Мотивируйте клиентов на действия" content_markdown="После заполнения анкеты сервис настраивает тренировочную программу таким образом, чтобы все упражнения в ней сопровождались ссылкой на видео только с вашим участием и были характерны только для вашего клуба. А это позволит быстрее ориентироваться в упражнениях и мотивировать их на действия (покупка персоналки, покупка доппитания и т.д.)." %}

  {% include components/home-page/content-image.html image="tools" heading="Зарабатывайте хорошие деньги" content_markdown="Станьте партнером и зарабатывайте хорошие деньги в качестве независимого подрядчика. Получайте еженедельный гонорар лишь за то, что даете возможность тренироваться правильно и недорого тем посетителям, которые пока не готовы платить за персоналку." %}
</div>

{% include components/case-study/quote.html case=case %}



