---
layout: main-landing
title: Сервис автоматического подбора индивидуальных программ тренировок и питания с помощью нейросети. 
permalink: /
cta: "landing_page"
sitemap:
  changefreq: daily
  priority: 0.8
header_class: "landing"
---
<div class="landing-page-content">
  {% include components/home-page/content-image.html image="workflow" heading="Составляйте индивидуальные программы тренировок и питания автоматически" content_markdown="Тратьте меньше времени на подбор индивидуальных тренировочных программ,
консультирование клиентов по вопросам, связанным с тренировочным процессом, режимом питания и т.д., и больше - на себя. Сделайте ваши программы более наглядными и гибкими автоматически." storage_provider_icons=true %}

  {% include components/home-page/content-image.html image="editing" heading="Мотивируйте клиентов на действия" content_markdown="Editors update content directly on the page with no guessing how changes appear on the live site. Developers control what clients update by adding a class of editable to HTML elements and using front matter." %}

  {% include components/home-page/content-image.html image="tools" heading="Отслеживайте результаты клиентов удаленно" content_markdown="Отслеживайте результаты тренировок своих клиентов в цифрах. Контролируйте количество успешных и пропущенных тренировок, число тех, кто добился цели, а кто - нет." %}

  {% include components/home-page/content-image.html image="preview" heading="Зарабатывайте хорошие деньги" content_markdown="Станьте партнером и зарабатывайте хорошие деньги в качестве независимого подрядчика. Получайте еженедельный гонорар лишь за то, что даете возможность тренироваться правильно и недорого тем посетителям, которые пока не готовы платить за персоналку." %}
</div>

{% assign case = site.case_studies | where: "name", "Netflix" | first %}
{% include components/case-study/quote.html case=case %}



