---
layout: short
heading: Начните работе с Fitness.Pullnfit
subtitle: Попробуйте Fitness.Pullnfit Pro бесплатно в течение 7 дней.
title: Цены
permalink: /pricing/
---
<div class="period">
	<div class="toggle-buttons">
		<a class="button light no-border dark-hover selected monthly" href="#">Ежемесячно</a><a class="button light no-border dark-hover annually" href="#">Ежегодно</a>
	</div>
</div>

<ul class="plans">
	{% for plan in site.data.plans %}
		{% include components/pricing/plan.html plan=plan %}
	{% endfor %}
</ul>

<section class="faq">
	<h2 id="faq">FAQ</h2>

	<ul class="cards">
		{% include components/pricing/faq.html q="Могу ли я попробовать Fitness.Pullnfit бесплатно?" a="Да, конечно. Регистрация на Pro-версию начинается с 7-дневного пробного периода." %}

		{% include components/pricing/faq.html q="Что происходит после 7-дневного пробного периода?" a="Вам следует оплатить подписку на месяц или на год. Цены вы можете уточнить на <a href='https://fitness.pullnfit.ru/pricing/'>сайте</a>." %}

		{% include components/pricing/faq.html q="Can I switch plans?" a="Yes, change your plan any time in <em>Account Settings</em>." %}

		{% include components/pricing/faq.html q="Do I pay for another user when sharing to a client?" a="No, sharing with <a href='https://docs.cloudcannon.com/sharing/client-sharing/' target='_blank'>Client Sharing</a> does not count towards your total users." %}

		{% include components/pricing/faq.html q="How am I billed when adding new users?" a="CloudCannon adds a prorated charge (or refund when removing a user) to your next invoice. For example, if your team is on the <strong>Basic</strong> plan, it costs $25 per user per month. You add a new team member 10 days into your billing period and there are 20 remaining days in the month. The per-day cost for each user is $25 &divide; 30, so we add on $16.66 ($25 &divide; 30 days &times; 20 days) to your next invoice." %}

		{% include components/pricing/faq.html q="Do you take feature requests?" a="Yes, we listen closely to our customers. <a href='mailto:support@cloudcannon.com'>Contact support</a> if you have requests or feedback. Many CloudCannon features are driven by your feedback." %}

		{% include components/pricing/faq.html q="Where are CloudCannon sites hosted?" a="CloudCannon uses Amazon Web Services for all infrastructure. Sites are automatically optimised and served from our custom File Server. Optimisations include GZIP, serving assets from a CDN and minification. CloudCannon supports <a href='https://docs.cloudcannon.com/hosting/options/' target='_blank'>other hosting options</a>, including your own servers." %}

		{% include components/pricing/faq.html q="How do I cancel my CloudCannon account?" a="Either downgrade to the free plan or delete your account. Find these options in your <em>Account Settings</em>." %}
	</ul>
</section>
<script src="/js/pricing.js"></script>
