---
layout: default
---

<header class="{{ page.header_class }}">
	{% include navigation/top.html %}
	{% include components/hero/main.html image="" heading="Зарабатывайте в 2 раза больше" subtitle="Автоматизируйте свою работу с клиентами <br>с помощью нейросети и увеличьте свой ежемесячный доход в 2 раза" button="Зарегистрироваться онлайн" video="gpmWyZvOU3g" %}
</header>

{{ content }}

{% include components/cta/main.html text="Зарабатывайте хорошие деньги" button="Зарегистрироваться онлайн" %}
